<!doctype html>
<!--
* Sarah Mehri
* home page
* 1/27/2021
-->
<html lang="en">
<head>
    <title>Dating Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Dating Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">

    </div>
</nav>
<br>
<div class="row" >
    <div class="container col-sm-10 col-lg-5 col-md-5 mb-3 wow bounceInUp" data-wow-duration="1.4s">
<h1>My Dating Website</h1>
<p>Welcome to the web's most successful dating website. At <b>My Dating Website</b> you'll
meet another like minded individuals. We have the highest success rate of couples on the
web. User's are matched by interest and location.
    Find out why so many others have found love on our site!</p>

<h3>Hear what our users saying about us.</h3>
        <hr>

        <blockquote><i>"I met the love of my life after only a month!"  - Andrea</i></blockquote>
        <blockquote> <i>"It was so easy to set up and profile and start meeting people.
            I didn't realize how many others were looking for love in my area." -John Smith</i></blockquote>
        <blockquote><i>"Just try it! You'll never be the same!" -Sarah</i></blockquote>
        <hr>

        <div class="text-center p-1">
            <a class="btn-lg btn-warning" href="personal" role="button">Create a Profile!</a>
            <!--<button type="button" class="btn-lg btn-warning"
            id="btn"><a href="personal_info">Create a Profile!</a></button>-->
        </div>

    </div>
    <div class="col-sm-12 col-lg-6 mb-3 wow zoomIn text-right mr-5">
        <img src="images/dating.jpg" alt="Avatar" class="image">
    </div>
</div>

<!--- java script optional -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>