<!--
* Sarah Mehri
* 2/11/2021
*interest.html
* this is the profile creating page in dating web
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Dating Web - Interests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="https://smehri.greenriverdev.com/328/dating/">Dating Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        </div>
    </nav>
<div class="container border rounded mt-4 p-4">

    <h2>Interests</h2>
    <hr>
    <form method="post" action="summary">
        <label class="font-weight-bold">In-door Interests</label>
        <!-- interests array -->
        <div class="row">
            <div class="form-group col-3" >
                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" name="interests[]" id="tv" value="tv">
                    <label class="form-check-label" for="tv">tv</label>
                </div>
                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" name="interests[]" id="puzzles" value="puzzles">
                    <label class="form-check-label" for="puzzles">puzzles</label>
                </div>
            </div>
            <div class="form-group col-3" >
                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" name="interests[]" id="movies" value="movies">
                    <label class="form-check-label" for="movies">movies</label>
                </div>

                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" name="interests[]" id="reading" value="reading">
                    <label class="form-check-label" for="reading">reading</label>
                </div>
            </div>

            <div class="form-group col-3" >

                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" name="interests[]" id="cooking" value="cooking">
                    <label class="form-check-label" for="cooking">cooking</label>
                </div>

                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" name="interests[]" id="playingcards" value="playingcards">
                    <label class="form-check-label" for="playingcards">playing cards</label>
                </div>
            </div>

            <div class="form-group col-3" >
                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" name="interests[]" id="boardgames" value="boardgames">
                    <label class="form-check-label" for="boardgames">board games</label>
                </div>

                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" name="interests[]" id="videogames" value="videogames">
                    <label class="form-check-label" for="videogames">video games</label>
                </div>
            </div>
        </div>

        <label class="font-weight-bold">Out-door Interests</label>
        <div class="row">


            <div class="form-group col-3" >
                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" name="interests[]" id="hiking" value="hiking">
                    <label class="form-check-label" for="hiking">hiking</label>
                </div>

                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" name="interests[]" id="walking" value="walking">
                    <label class="form-check-label" for="walking">walking</label>
                </div>
            </div>


            <div class="form-group col-3" >

                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" name="interests[]" id="biking" value="biking">
                    <label class="form-check-label" for="biking">biking</label>
                </div>
                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" name="interests[]" id="climbing" value="climbing">
                    <label class="form-check-label" for="climbing">climbing</label>
                </div>
            </div>

            <div class="form-group col-3" >
                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" name="interests[]" id="swimming" value="swimming">
                    <label class="form-check-label" for="swimming">swimming</label>
                </div>
            </div>
            <div class="form-group col-3" >
                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" name="interests[]" id="collecting" value="collecting">
                    <label class="form-check-label" for="collecting">collecting</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button type="submit" class="btn btn-warning">Next ></button>
            </div>
        </div>
    </form>
</div>
</body>
</html>