<!--
* Sarah Mehri
* 2/25/2021
*interest.html
* this is the profile creating page in dating web
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Dating Web - Interests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="https://smehri.greenriverdev.com/328/dating/">Dating Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        </div>
    </nav>
<div class="container border rounded mt-4 p-4">

    <h2>Interests</h2>
    <hr>
    <form method="post" action="#">
        <!-- Row 1 -->
        <label class="font-weight-bold">In-door Interests</label>
        <div class="form-row justify-content-center">
            <repeat group="{{@indoor}}" value="{{@interest}}">
                <div class="form-group col-3">
                    <input type="checkbox" name="indoorInterests[]" value="{{@interest}}">
                    <label>{{@interest}}</label>
                </div>
            </repeat>
        </div>

        <label class="font-weight-bold">Out-door Interests</label>
        <div class="form-row">
            <repeat group="{{@outdoor}}" value="{{@interest}}">
                <div class="form-group col-3">
                    <input type="checkbox" name="outdoorInterests[]" value="{{@interest}}">
                    <label>{{@interest}}</label>
                </div>
            </repeat>
        </div>

        <div class="row">
            <div class="col text-right">

                <button type="submit" class="btn btn-warning">Next ></button>
            </div>

        </div>
    </form>
</div>
</body>
</html>