<!DOCTYPE html>
<!--
* Sarah Mehri
* 2/11/2021
*personal_info.html
* this is the profile creating page in dating web
-->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Dating Web - Personal Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="https://smehri.greenriverdev.com/328/dating/">Dating Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">

    </div>
</nav>
<div class="container mt-4 p-4 border rounded">

    <h2>Personal Information</h2>
    <hr>
    <form method="post" action="#">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="form-group">
                    <label class="font-weight-bold" for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" name="fname" placeholder=""
                           value="{{@fname}}">

                    <!--  Error Message  -->
                    <check if="{{isset(@errors['fname'])}}">
                        <p class="text-danger">{{@errors['fname']}}</p>
                    </check>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold" for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname" placeholder=""
                           value="{{@lname}}">

                    <!--  Error Message  -->
                    <check if="{{isset(@errors['lname'])}}">
                        <p class="text-danger">{{@errors['lname']}}</p>
                    </check>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold" for="age">Age</label>
                    <input type="text" class="form-control" id="age" name="age" placeholder=""
                           value="{{@age}}">


                    <check if="{{isset(@errors['age'])}}">
                        <p class="text-danger">{{@errors['age']}}</p>
                    </check>
                </div>
                <div class="form-group" >

                    <div>
                        <label class="font-weight-bold">Gender</label>
                    </div>


                    <repeat group="{{@genders}}" value="{{@gender}}">
                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="radio" name="userGender" value="{{@gender}}"
                            <check if="{{@userGender}} == {{@gender}}">
                                checked
                            </check>
                            >
                            <label class="form-check-label" >{{@gender}}</label>
                        </div>
                    </repeat>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold" for="phone">Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="123-456-7890"
                           maxlength="10"
                           value="{{@phone}}">


                    <check if="{{isset(@errors['phone'])}}">
                        <p class="text-danger">{{@errors['phone']}}</p>
                    </check>
                </div>
                </div>


            <div class="col-lg-4 col-md-12 align-items-center d-flex">
                <div class="mb-3 border bg p-2 align-items-center">
                    <p>
                        <strong>Note:</strong> All information entered is protected by our
                        <a href="">privacy policy</a>.Profile information can only be viewed by
                        others with your permission.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button type="submit" class="btn btn-warning">Next ></button>
            </div>
        </div>

    </form>
</div>
</body>
</html>