<!DOCTYPE html>
<!--
* Sarah Mehri
* 2/11/2021
*profile.html
* this is the profile creating page in dating web
-->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Dating Web - Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="https://smehri.greenriverdev.com/328/dating/">Dating Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        </div>
    </nav>
    <div class="container mt-4 p-4 border rounded">
    <h2>Profile</h2>
    <hr>
    <form method="post" action="#">
      <div class="row">

    <div class="col-lg-6 col-md-12">

                <div class="form-group">
                    <label class="font-weight-bold" for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="my_email@gmail.com"
                           value="{{@email}}">

                    <!--  Error Message  -->
                    <check if="{{isset(@errors['email'])}}">
                        <p class="text-danger">{{@errors['email']}}</p>
                    </check>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">State</label>

                    <select  name="states" class="custom-select">
                        <option selected>select</option>
                        <repeat group="{{@states}}" value="{{@state}}">
                            <check if="{{@state}} == {{@userState}}">
                                <true>
                                    <option selected>{{@state}}</option>
                                </true>
                                <false>
                                    <option >{{@state}}</option>
                                </false>
                            </check>
                        </repeat>
                    </select>
                    <check if="{{isset(@errors['states'])}}">
                        <p class="text-danger">{{@errors['states']}}</p>
                    </check>
                </div>

                <div class="form-group">
                    <div>
                        <label class="font-weight-bold">Seeking</label>
                    </div>

                    <repeat group="{{@genders}}" value="{{@gender}}">
                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="radio" name="seeking" value="{{@gender}}"
                            <check if="{{@seeking}} == {{@gender}}">
                                checked
                            </check>
                            >
                            <label class="form-check-label" >{{@gender}}</label>
                        </div>
                    </repeat>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="form-group">
                    <label class="font-weight-bold" for="bio">Biography</label>
                    <textarea class="form-control" id="bio" name="bio" placeholder=""
                              maxlength="1600" rows="6">{{@bio}}</textarea>
                </div>
            </div>
        </div>
        <div class="row">
       <div class="col text-right">
           <button type="submit" class="btn btn-warning">Next >></button>
            </div>
        </div>
    </form>
</div>
</body>
</html>