body{

    overflow-x: hidden !important;
}


h3, h1{
    text-align: center;
}
.image{

    border-radius: 25px;

}
#btn{

    color: white;
    font-weight: bold;
    border-radius: 10px;
}